In [15]:
import pandas as pd
print(pd.__version__)

2.1.1

In [19]:
data = pd.read_csv(r"C:\Users\user\Desktop\10-k_Fillings_Report.csv")

In [31]:
data

,Company Name,Fiscal Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from operating Activities
0,Microsoft Corporation,30/06/2022 - 30/06/2023,"$211,915,000,000.00","$72,361,000,000.00","$411,976,000,000.00","$205,753,000,000.00","$87,582,000,000.00"
1,NaN,30/06/2021 - 30/06/2022,"$198,270,000,000.00","$72,738,000,000.00","$364,840,000,000.00","$198,298,000,000.00","$89,035,000,000.00"
2,NaN,30/06/2020 - 30/06/2021,"$168,088,000,000.00","$61,271,000,000.00","$333,779,000,000.00","$191,791,000,000.00","$76,740,000,000.00"
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Apple Inc.,30/09/2022 - 30/09/2023,"$383,290,000,000.00","$96,995,000,000.00","$352,583,000,000.00","$290,437,000,000.00","$110,543,000,000.00"
5,NaN,30/09/2021 - 30/09/2022,"$394,330,000,000.00","$99,803,000,000.00","$352,755,000,000.00","$302,083,000,000.00","$122,151,000,000.00"
6,NaN,30/09/2020 - 30/09/2021,"$365,820,000,000.00","$94,680,000,000.00","$351,002,000,000.00","$267,980,000,000.00","$104,038,000,000.00"
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Tesla,31/12/2022 - 31/12/2023,"$96,773,000,000.00","$14,974,000,000.00","$106,618,000,000.00","$43,009,000,000.00","$13,256,000,000.00"
9,NaN,31/12/2021 - 31/12/2022,"$81,462,000,000.00","$12,587,000,000.00","$82,338,000,000.00","$36,440,000,000.00","$14,724,000,000.00"
10,NaN,31/12/2020 - 31/12/2021,"$53,823,000,000.00","$5,644,000,000.00","$62,131,000,000.00","$30,548,000,000.00","$11,497,000,000.00"

In [ ]:
# Calculate year-over-year growth rates for Total Revenue and Net Income
df['Revenue Growth (%)'] = df.groupby('Company Name')['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby('Company Name')['Net Income'].pct_change() * 100

# Fill NA values that result from pct_change calculations with 0 or an appropriate value
df.fillna(0, inplace=True)

# Display the dataframe to verify the calculations
print(df)

# Optionally, you could summarize these findings for each company
summary = df.groupby('Company Name').agg({
    'Revenue Growth (%)': 'mean',
    'Net Income Growth (%)': 'mean'
}).reset_index()

print("\nYear-over-Year Average Growth Rates (%):")
print(summary)

In [ ]:
from flask import Flask, render_template, request

app = Flask(__name__)

@app.route('/')
def home():
    return render_template('index.html')

@app.route('/response', methods=['POST'])
def get_response():
    query = request.form['query']
    response = ""
    if query == "How are you?":
        response = "I'm fine, thank you!"
    elif query == "What's your name?":
        response = "My name is Assistant."
    elif query == "What's the weather today?":
        response = "I'm sorry, I don't have access to real-time weather information."
    else:
        response = "I'm sorry, I don't have an answer for that."
    return render_template('index.html', response=response)

if __name__ == '__main__':
    app.run(debug=True)

In [ ]:
from flask import Flask, render_template, request

app = Flask(__name__)

@app.route('/')
def home():
    return render_template('index.html')

@app.route('/response', methods=['POST'])
def get_response():
    query = request.form['query']
    response = ""
    if query == "How are you?":
        response = "I'm fine, thank you!"
    elif query == "What's your name?":
        response = "My name is Assistant."
    elif query == "What's the weather today?":
        response = "I'm sorry, I don't have access to real-time weather information."
    else:
        response = "I'm sorry, I don't have an answer for that."
    return render_template('index.html', response=response)

if __name__ == '__main__':
    app.run(debug=True)